/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
    background-image: url("face.jpg"); 
    background-size: 100%;
    background-repeat: no-repeat;
 }

h1 {
	text-align: left;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font-size: 75px; : left;
 	color: white; 
 }

h2 {
	text-align: left;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font-size: 50px;
 	color: #2BCF78;
 }

 table {
 /*	border-style: solid;
 	border-color: black;
 	border-right: */
 	width: 600px;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	color: #ffffff;
 }

 tbody {
 	width: 800px;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	color: #ffffff;
 }

td {
	color: #ffffff;
	font-family: Helvetica;
	text-decoration: none;
}

p {
	color: #ffffff;
	font-family: Helvetica;
	text-decoration: none;
}

div.field {
	font-size: 20px;
	color: #ffffff;
	font-family: Helvetica;
	text-decoration: italic;
}

.row {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container-index {
	float: right;
}