<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pinteresting</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container" class="container-fluid">		
		    <div class="navbar col-lg-12"><h1>Very Pinteresting.</h1>
		    </div>

		  
		<%= yield %>

 	</div>
</body>

</html>
